/*header*/
.event-page {
    background-color: rgb(72,72,72,0.9);
    padding: 25px 20px;
}
.event-page-content{
    padding-top: 130px;
}
.event-page .guest-name{
    font-size: 22px;
    margin-top: 5px;
}
.event-page .guest-greeting{
    font-size: 18px;
}
/*end of header*/
.notification-icon{
    height: 45px;
   width: 45px;
   display: flex;
   background:linear-gradient(180deg, #4E4E4E, #595959);
   border-radius: 50%;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   justify-content: center;
   -webkit-justify-content: center;
}
.caption__title {
    font-size: 25px;
}
.caption__desc {
    display: flex;
    align-items: end;
}
.caption__desc span{
    margin-left: 3px;
     color:white
}
.event-info-wrap .plan-trip-content-wrap .trip-img-wrap {
     height: 45px;
    width: 45px;
    display: flex;
    /* background: rgba(31, 35, 39, 0.5); */
    background:linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15));
    border-radius: 50%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    justify-content: center;
    -webkit-justify-content: center;margin-bottom: 12px;
}
span.trip-title {
    font-size: 12px;
    margin:8px 0px;
    color: white;
}
.plan-a-trip-wrap {
    padding: 15px 0px;
    border-bottom: solid 1px white;
}
.from-city, .to-city{
    color: white;
    font-size: 20px;
    font-weight: 500;
}
.px-2
{
    padding: 0px 3px;
}
.w-30
{
    width: 30%;
}
.w-40
{
    width: 40%;
}
.my-bookings-card.d-block {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15));
    border: navajowhite;
    padding: 16px;
}
button.btn.btn-download {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15));
    padding: 5px 20px;
    border-radius: 10px;
    color: white;
    font-size: 16px;
}
.btn-active .trip-img-wrap
{
    background-color: #6EA7FA !important;
}
.check-in, .check-out {
    font-size: 20px;
    color: white;
}
.guest-hotel-name {
    font-size: 22px;
}
.text-center.mt-20.noof-guests {
    color: white;
    font-size: 20px;
}
.btn-preferences {
    background: #6547FF;
    color: white;
    font-size: 16px;
    padding: 5px 20px;
    border-radius: 10px;
}
.dining-text {
    font-size: 15px;
}