.profile-title {
    font-size: 29px;
    font-weight: 500;
    /* margin-top: 30%; */
}
.profile-text {
    font-size: 22px;
    margin-top: 30px;
}
.btn-choose-from-gallery {
    width: 80%;
    background: rgba(255, 255, 255, 0.4);
    border: 0.5px solid rgba(255, 255, 255, 0.4);
    box-sizing: border-box;
    align-items: center;
    font-size: 20px;
    color: white;
    padding: 8px 20px;
    border-radius: 10px;
    /* margin-top: 140px; */
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    z-index: 10;
}
.btn-take-photo {
    width: 80%;
    background: rgba(255, 255, 255, 0.4);
    border: 0.5px solid rgba(255, 255, 255, 0.4);
    box-sizing: border-box;
    align-items: center;
    font-size: 20px;
    color: white;
    padding: 8px 20px;
    border-radius: 10px;
    margin-top: 40px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}
button {
    background-color: white;
    border: none;
    border-radius: 50%;
    color: #fff;
    padding: 1em 2em;
    /* margin-top: 120px; */
    height: 150px;
    width: 150px;
}

  .ripple {
    box-sizing:border-box;
    position:relative;
  }
  
  .ripple:before {
    animation:ripple 2s ease-out infinite;
    border:solid 50px rgba(255, 255, 255, 0.9);
    border-radius:50%;
    bottom:0;
    box-sizing:border-box;
    content:"";
    left:0;
    position:absolute;
    right:0;
    top:0;
  }
  
  .ripple:after {
    animation:ripple 2s 1s ease-out infinite;
    border:solid 30px rgba(255, 255, 255, 0.8);
    border-radius:50%;
    bottom:0;
    box-sizing:border-box;
    content:"";
    left:0;
    position:absolute;
    right:0;
    top:0;
  }
  
  @keyframes ripple {
    0% {
      opacity:.70;
    }
    100% {
      border-radius:50%;
      opacity:0;
      transform:scale(2);
    }
  }

  .upload-btn-profile {
    position: relative;
    overflow: hidden;
    display: inline-block;
    width: 100%;
}
.upload-btn-profile input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
.profile-container.text-center {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}
  